$twitch: #a68ed2;
$buttonBorder: #a8a8a8;
$separator: darken($twitch, 10%);

a, a:visited, a:active, a:hover {
  color: #055599;
}

body, html {
  border: 1px solid $separator;
  border-radius: 4px;
  font-family: Tahoma, sans-serif;
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
}

header {
  padding: 8px;
  border-bottom: 1px solid $separator;
  text-align: center;
  background: linear-gradient(-2deg, darken($twitch, 5%) 0%, lighten($twitch, 5%) 100%);

  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.45);

  cursor: default;

  h1 {
    margin: 0;
    padding: 0;

    img {
      max-height: 24px;
      margin-bottom: -3px;
    }
  }
}

section {
  padding: 8px;
  background: linear-gradient(-2deg, lighten($twitch, 28%) 0%, lighten($twitch, 15%) 100%);

  min-height: 112px;

  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
}

form {
  input {
    border-radius: 3px;
    border: 1px solid lighten($separator, 5%);
    background-color: #efefef;
  }
}

.field {
  margin-bottom: 16px;

  &.status {
    border: 1px solid lighten($separator, 5%);
    padding: 10px 6px;
    border-radius: 3px;
    background-color: lighten($twitch, 15%);
  }

  label {
    display: block;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 6px;
  }

  input {
    width: 275px;
    padding: 4px;
  }
}

footer {
  font-size: 9px;
  padding: 8px;
  border-top: 1px solid $separator;
  background: linear-gradient(-2deg, lighten($separator, 13%) 0%, lighten($separator, 18%) 100%);
}
